/* Our CSS file. */
body{
	background-color:#E0FFFF;
}
.card{
	width: 100%;
}
.content1 div img{
	width: 110%;
	height: 110%;
	margin-top: -90px;
	margin-left: -35px;

}
.content2 div img{
	width: 110%;
	height: 105%;
	margin-top: -70px;
	margin-left: -35px;

}
.content1{
	margin-top: 50px;
	width: 100%;
	height: 500px;
	display:flex;
	text-align: center;

}
.content2{
	margin-top: 50px;

	width: 100%;
	height: 500px;
	display:flex;
	text-align: center;

}

.content1 div{
	
    width: 50%;
	background-color: white;


}
.content2 div{
	
    width: 50%;
	background-color: white;

	margin-bottom: 50px;
}
.content1 .div1,.content2 .div1{
	margin-left: 50px;
	width: 40%;
	background-color: rgb(221, 187, 143); 
	padding-top: 50px;
}
.content1 .btn,.content2 .btn{
	text-align: justify;
	background-color: burlywood;
	width:95px;
	height:50px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 100px;
	border: 1px solid burlywood;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px; 
	vertical-align: middle;
	color:white
}
h1{
	margin: 50px;
	font-size: 50px;
}
p{
	font-size: 30px;
	text-align: justify;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 35px;
}